@{
    ViewBag.Title = "Acerca de";
}

<div class="about">
    <h2><strong>SOBRE LA APLICACIÓN</strong></h2>
    <hr class="marginHR" />
    <p class="marginP"><strong>VirtualDeck</strong> es una tienda de cartas virtuales donde los usuarios pueden comprar las propias cartas de manera individual como sobres que contienen las mismas, pero de manera más aleatoria.</p>
    <img src="~/Resources/logoAzul.png"/>
</div>

<div class="about">
    <h2><strong>SOBRE NOSOTROS</strong></h2>
    <hr class="marginHR" />
    <div>
        <p class="marginP">Somos un grupo de 6 estudiantes de Ingeniería Multimedia en la Universidad de Alicante.</p>
    </div>
    <div class="about-nosotros">
        <p><strong>Javier Marín Úbeda</strong></p>
        <p><strong>Alejandro Gómez Sola</strong></p>
        <p><strong>Carlo Huesca Spairani</strong></p>
        <p><strong>Víctor Tébar Juan</strong></p>
        <p><strong>Bruno García Escudero</strong></p>
        <p><strong>SCRUM MASTER: Marco José López Vila</strong></p>
    </div>


</div>



