@{
    ViewBag.Title = "Acerca de";
}

<div>
    <h2>SOBRE LA APLICACIÓN</h2>

    <p><strong>VirtualDeck</strong> es una tienda de cartas virtuales donde los usuarios pueden comprar las propias cartas de manera individual como sobres que contienen las mismas, pero de manera más aleatoria.</p>
</div>

<div>
    <h2>SOBRE NOSOTROS</h2>

    <div class="about-nosotros">
        <p><strong>Javier Marín Úbeda</strong></p>
        <p><strong>Alejandro Gómez Sola</strong></p>
        <p><strong>Carlo Huesca Spairani</strong></p>
        <p><strong>Víctor Tébar Juan</strong></p>
        <p><strong>Bruno García Escudero</strong></p>
        <p><strong>SCRUM MASTER: Marco José López Vila</strong></p>
    </div>
   

</div>



