
@{
    IEnumerable<VirtualDeckWeb.Models.CardViewModel> ModelNew = ViewData["List1"] as IEnumerable<VirtualDeckWeb.Models.CardViewModel>;
    IEnumerable<VirtualDeckWeb.Models.CardViewModel> ModelRecommended = ViewData["List2"] as IEnumerable<VirtualDeckWeb.Models.CardViewModel>;
}
@{
    ViewBag.Title = "Pagina Principal";
}

<section>
    <h2>Novedades</h2>
    @Html.Partial("CardListShopPartial", ModelNew)
</section>

@{
    if (Session["User"] != null)
    {
        <section>
            <h2>Cartas recomendadas</h2>
            @Html.Partial("CardListShopPartial", ModelRecommended)
        </section>
    }
}

