
@{
    IEnumerable<VirtualDeckWeb.Models.CardViewModel> newCards = ViewData["NewCards"] as IEnumerable<VirtualDeckWeb.Models.CardViewModel>;
    IEnumerable<VirtualDeckWeb.Models.CardViewModel> recommendedCards = ViewData["RecommendedCards"] as IEnumerable<VirtualDeckWeb.Models.CardViewModel>;
}
@{
    ViewBag.Title = "Pagina Principal";
}

<h2>Novedades</h2>
<div id="news-carousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        @Html.Partial("CarouselPartial", newCards)
    </div>

    <a class="left carousel-control" href="#news-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#news-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@{
    if (Session["User"] != null)
    {
        <h2>Recomendaciones</h2>
        <div id="recommended-carousel" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                @Html.Partial("CarouselPartial", recommendedCards)
            </div>

            <a class="left carousel-control" href="#recommended-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#recommended-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
}

@Html.Partial("OperationResultPartial")

