@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
:root {
    --font: Roboto, 'Arial Narrow', Arial, sans-serif;
    --primary: #3454D1;
    --dark: #212529;
    --light-dark: #505050;
    --light: #FFF;
    --red: #F02D3A;
    --green: #14CC60;
}

body {
    font-family: var(--font);
    background-color: var(--dark);
    color: var(--light);
}

.shop-container {
    background: var(--light-dark);
    padding: 2em 1em 1em 1em;
    box-sizing: content-box;
    margin: 1em 0.5em;
    min-width: 18em;
    border-radius: 5px;
}


.shop-container > div:last-child {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 1em;
    margin-top:1em;
}

.shop-container > div:last-child > div {
    margin:auto;
}

.shop-container > div:last-child > p {
    margin: auto;
}

.shop-container > div:last-child > p > img {
    width: 1em;
    margin-left: 0.5em;
    padding-bottom: 0.25em;
}


.fondo {
    position: relative;
    left: calc(50% - 7.5em);
    width: 15em;
    height: 20.6em;
}


.tipo > img {

}

.shop-container img {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}

.info > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow: hidden;
    object-fit: cover;
}

.info > h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
width: 100%;
    padding: 0.3em 0em;
    top: 3%;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.6), rgba(94, 94, 94, 0));
}

.estadisticas {
    font-size: 14px;
    background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.6), rgba(94, 94, 94, 0));
    position: absolute;
    width: 100%;
    top: 60%;
    color: aliceblue;
    letter-spacing: 3px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: center;
}

    .estadisticas > h4 {
        margin: inherit;
        font-size: inherit;
        margin: 0.1em 0em;
        margin-left: 0.7em;
    }

.puntos {
    margin: auto;
    display: block;
}



/* --------------------------- Type cards --------------------------------------*/

.electric {
    filter: invert(89%) sepia(69%) saturate(1192%) hue-rotate(331deg) brightness(111%) contrast(107%);
}

.fire {
    filter: invert(70%) sepia(71%) saturate(4608%) hue-rotate(356deg) brightness(98%) contrast(97%);
}

.water {
    filter: invert(40%) sepia(18%) saturate(5221%) hue-rotate(177deg) brightness(86%) contrast(92%);
}

.poison {
    filter: invert(22%) sepia(80%) saturate(4897%) hue-rotate(279deg) brightness(88%) contrast(105%);
}

.psychic {
    filter: invert(15%) sepia(65%) saturate(6311%) hue-rotate(329deg) brightness(94%) contrast(97%);
}

.normal {
    filter: invert(100%) sepia(2%) saturate(5248%) hue-rotate(87deg) brightness(87%) contrast(78%);
}

.ground {
    filter: invert(84%) sepia(39%) saturate(618%) hue-rotate(3deg) brightness(96%) contrast(88%);
}

.rock {
    filter: invert(39%) sepia(23%) saturate(762%) hue-rotate(9deg) brightness(98%) contrast(86%);
}

.ice {
    filter: invert(44%) sepia(96%) saturate(353%) hue-rotate(137deg) brightness(91%) contrast(98%);
}

.grass {
    filter: invert(36%) sepia(99%) saturate(1106%) hue-rotate(67deg) brightness(97%) contrast(93%);
}

.ghost {
    filter: invert(44%) sepia(11%) saturate(2370%) hue-rotate(239deg) brightness(86%) contrast(89%);
}

.flying {
    filter: invert(61%) sepia(45%) saturate(388%) hue-rotate(126deg) brightness(100%) contrast(86%);
}

.fighting {
    filter: invert(18%) sepia(97%) saturate(7438%) hue-rotate(354deg) brightness(93%) contrast(93%);
}

.dragon {
    filter: invert(34%) sepia(14%) saturate(5699%) hue-rotate(233deg) brightness(112%) contrast(105%);
}

.bug {
    filter: invert(100%) sepia(42%) saturate(2421%) hue-rotate(350deg) brightness(97%) contrast(78%);
}

.img-cabecera {
    width: 8em;
}


/#################################### CARLO #################################################/


.contenedorPack {
    background: inherit;
    background-color: inherit;
    position: relative;
    background-color: var(--light-dark);
    height: auto;
    min-height: 30em;
    border-radius: 5px;
    z-index: -3;
    font-family: var(--fuente);
    margin-bottom: 2em;
}

.fondoContenedorPacks {
    background: inherit;
    background-color: inherit;
    position: relative;
    background-color: var(--light-dark);
    height: auto;
    min-height: 30em;
    border-radius: 5px;
    z-index: -3;
    font-family: var(--fuente);
    margin-bottom: 2em;
}

.contenedorPack > div:first-child {
    background: var(--primary);
    height: 10em;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
}
/*
.contenedorPack > div:first-child::before {
    content: '';
    position: absolute;
    display: block;
    width: 2em;
    height: 35%;
    background: linear-gradient(130deg, rgba(255, 174, 0), rgba(255, 255, 255, 0.4),rgb(255, 174, 0));
    object-fit: cover;
    animation: mov 3s ease infinite;
    transform: translateY(-100%);
    overflow: hidden;
}

@keyframes mov {
    0% {
        transform: translateX(800), rotateZ(130deg);
                
    }
    100% {
        transform: translateY(-100%), rotateZ(130deg);
    }
}*/



.contenedorPack > div:first-child img {
    position: absolute;
    width: 8em;
    left: calc(50% - 4em);
    margin: auto;
    display: block;
    margin-top: 6em;
}

.contenedorPack > div:last-child {
    margin-top: 5em;
    text-align: center;
}


/*############################################# MARCO ##################################################*/



.profile-container {
    padding: 1em;
    margin: 1em 0.25em;
    min-width: 18em;
    border-radius: 5px;
}







.virtual-card {
    position: relative;
    width: 15em;
    height: 20em;
    color: aliceblue;
    left: 50%;
    transform: translateX(-50%);
}

    .virtual-card > img {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

        .virtual-card > img:first-of-type {
            object-fit: cover;
        }

        .virtual-card > img:last-of-type {
            top: 0%;
            left: 0%;
            position: absolute;
        }

    .virtual-card > h3 {
        background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.6), rgba(94, 94, 94, 0));
        text-align: center;
        width: 100%;
        top: 5%;
        position: absolute;
    }

    .virtual-card > div {
        bottom: 10%;
        position: absolute;
        width: 100%;
        font-weight: bold;
        background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.6), rgba(94, 94, 94, 0));
        display: grid;
        letter-spacing: .2em;
        grid-template-columns: 70% 30%;
        justify-items: center;
        align-items: center;
    }

    .virtual-card > table {
        bottom: 10%;
        position: absolute;
        width: 100%;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.6), rgba(94, 94, 94, 0));
    }

    .virtual-card table tr > td:first-of-type {
        width: 50%;
    }





    /*#################################BUTTONS###################################*/

.action-button, .acept-button, .cancel-button {
    width: 8em;
    height: 2.5em;
    border-radius: 0.5em;
    padding: .4em;
    outline: none;
    border: none;
    text-decoration: none;
    color: var(--light);
    margin: auto;
    text-align: center;
    background-color: var(--dark);
}

.action-button {
    border: 3px solid var(--primary);
}
.acept-button {
    border: 3px solid var(--green);
}
.cancel-button {
    border: 3px solid var(--red);
}

.action-button:hover {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--light);
}
.acept-button:hover {
    background-color: var(--green);
    text-decoration: none;
    color: var(--light);
}
.cancel-button:hover {
    background-color: var(--red);
    text-decoration: none;
    color: var(--light);
}
