@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

:root {
    --font: Roboto, 'Arial Narrow', Arial, sans-serif;
    --primary: #3454D1;
    --dark: #212529;
    --light-dark: #505050;
    --light: #FFF;
    --red: #F02D3A;
    --green: #14CC60;
}

body {
    font-family: var(--font);
    background-color: var(--dark);
    color: var(--light);
    min-width: 400px;
    overflow-x: hidden;
    padding-top: 1em;
}

h1{
    text-align: center;
}



/*PARA CENTRAR LA TIENDA*/
.container{
    padding-left: 0;
    padding-right: 0;
}

    

.shop-container {
    background: var(--light-dark);
    padding: 2em 0em 1em 0em;
    box-sizing: content-box;
    margin: 1em 0.5em;
    min-width: 18em;
    border-radius: 5px;
}
.contenedor > p {
    padding-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.shop-container > div:last-child {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 1em;
    margin-top:1em;
}
.contenedor > div:last-child {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 1em
}

.shop-container > div:last-child > div {
    margin:auto;
}
.contenedor > div:last-child > button {
    padding: 0;
    width: 8em;
    height: 2.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 50px;
    margin-left: 2em;
}

.shop-container > div:last-child > p {
    margin: auto;
}

.shop-container > div:last-child > p > img {
    width: 1em;
    margin-left: 0.5em;
    padding-bottom: 0.25em;
}
.contenedor > div:last-child > p {
    margin: auto;
    margin-right: 2em;
}

/*
.fondo {
    position: relative;
    left: calc(50% - 7.5em);
    width: 15em;
    height: 20.6em;
}*/


.tipo > img {

}

.shop-container img {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}
/*
.info > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow: hidden;
    object-fit: cover;
}

.info > h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
width: 100%;
    padding: 0.3em 0em;
    top: 3%;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.6), rgba(94, 94, 94, 0));
}*/

.estadisticas {
    font-size: 14px;
    background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.6), rgba(94, 94, 94, 0));
    position: absolute;
    width: 100%;
    top: 60%;
    color: aliceblue;
    letter-spacing: 3px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: center;
}

.estadisticas > h4 {
    margin: inherit;
    font-size: inherit;
    margin: 0.1em 0em;
    margin-left: 0.7em;
}

.puntos {
    margin: auto;
    display: block;
}


.product-comment
{
    color: var(--light);
    background-color: var(--light-dark);
    border-radius: 0.5em;
    border: solid 2px var(--light);
    margin: 0.5em 0;
}

.product-comment>h4
{
    border-bottom: solid 2px var(--light);
}

/* --------------------------- Type cards --------------------------------------*/

.electric {
    filter: invert(89%) sepia(69%) saturate(1192%) hue-rotate(331deg) brightness(111%) contrast(107%);
}

.fire {
    filter: invert(70%) sepia(71%) saturate(4608%) hue-rotate(356deg) brightness(98%) contrast(97%);
}

.water {
    filter: invert(40%) sepia(18%) saturate(5221%) hue-rotate(177deg) brightness(86%) contrast(92%);
}

.poison {
    filter: invert(22%) sepia(80%) saturate(4897%) hue-rotate(279deg) brightness(88%) contrast(105%);
}

.psychic {
    filter: invert(15%) sepia(65%) saturate(6311%) hue-rotate(329deg) brightness(94%) contrast(97%);
}

.normal {
    filter: invert(100%) sepia(2%) saturate(5248%) hue-rotate(87deg) brightness(87%) contrast(78%);
}

.ground {
    filter: invert(84%) sepia(39%) saturate(618%) hue-rotate(3deg) brightness(96%) contrast(88%);
}

.rock {
    filter: invert(39%) sepia(23%) saturate(762%) hue-rotate(9deg) brightness(98%) contrast(86%);
}

.ice {
    filter: invert(44%) sepia(96%) saturate(353%) hue-rotate(137deg) brightness(91%) contrast(98%);
}

.grass {
    filter: invert(36%) sepia(99%) saturate(1106%) hue-rotate(67deg) brightness(97%) contrast(93%);
}

.ghost {
    filter: invert(44%) sepia(11%) saturate(2370%) hue-rotate(239deg) brightness(86%) contrast(89%);
}

.flying {
    filter: invert(61%) sepia(45%) saturate(388%) hue-rotate(126deg) brightness(100%) contrast(86%);
}

.fighting {
    filter: invert(18%) sepia(97%) saturate(7438%) hue-rotate(354deg) brightness(93%) contrast(93%);
}

.dragon {
    filter: invert(34%) sepia(14%) saturate(5699%) hue-rotate(233deg) brightness(112%) contrast(105%);
}

.bug {
    filter: invert(100%) sepia(42%) saturate(2421%) hue-rotate(350deg) brightness(97%) contrast(78%);
}

.img-cabecera {
    width: 8em;
}


/*#################################### CARLO #################################################*/



/*
.row {
    margin-left: 0;
    margin-right: 0;
}
*/

.centered-col-container
{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.token-pack-container 
{
    background-color: var(--light-dark);
    min-height: 30em;
    min-width: 18em;
    border-radius: 5px;
    height: auto;
    margin: 1em 0;
    display: inline-flex;
    flex-direction: column;
}

.token-pack-container>div:first-child
{
    position: relative;
    background: var(--primary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 10em;
}

.token-pack-container>div:first-child>img
{
    position: absolute;
    width: 8em;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.token-pack-container>div:first-child>h3
{
    text-align: center;
    background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.6), rgba(94, 94, 94, 0));
}

.token-pack-container>div:last-of-type
{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.token-pack-container>div:last-of-type>h4
{
    margin: 0.5em 0;
}

.token-pack-container>div:last-of-type>a
{
    margin: 2em 0;
}

    /*############################################# MARCO ##################################################*/
    .profile-container {
        padding: 1em;
        margin: 1em 0.25em;
        min-width: 18em;
        border-radius: 5px;
    }

/*Perfil*/
.tabs{
    margin-top: 2em; 
}
.tabs ul {
    display: inline-flex;
    justify-content:center;
    width:100%;
    border: 0;
}
.tabs ul li {
    background-color: var(--light-dark);
    border-radius: 0;
    margin: 0;
    text-align: center;
}

.tabs ul li a {
    background-color: var(--light-dark);
    border-radius: 0;
    color: var(--light);
    margin: 0;
}

.tabs ul li.active a {
    background-color: var(--primary);
    color: var(--light);
    margin: 0;
    border-radius: 0;
}

.tabs ul li.active {
    background-color: var(--primary);
    color: var(--light);
    margin: 0;
    border-radius: 0;
}

.tabs ul li a:hover {
    background: var(--primary);
    margin: 0;
    border-radius: 0;
}
.tabs ul li:hover {
    background: var(--primary);
    margin: 0;
    border-radius: 0;
}



/*Modal*/
.m-modal {
    width: fit-content;
    text-align: center;
    background-color: var(--light-dark);
    margin:auto;
    margin-top:10em;
    padding:3em;
    position:relative;
}
.m-modal a{
   display:block;
   width:fit-content;
   margin-top: 2em;
}

.m-modal div:first-child {
    display: block;
}

.m-modal div:first-of-type > div:first-of-type {
    left: 0;
    transform: translateX(0%);    
}

.m-modal div:first-of-type > div:last-of-type {
    text-align: left;
}
    
/*Necesario para los sobres*/
.m-modal .pack-detail {
    left: 0;
    transform: translateX(0%);
}

    @media all and (min-width:600px) {
     .m-modal div:first-child {
        display: inline-flex;
    }

    .m-modal div:first-of-type > div:first-of-type {
        margin-right: 3em;
    }

    .m-modal div:first-of-type > div:last-of-type h2 {
        margin-top: 0;
    }
}

    .icon-close{
        position:absolute;
        right:0;
        top:0;
        width:3em;
    }
        .icon-close:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
/*Formularios*/
.forms > input[type="text"] {
    border-radius: 6px;
    color: var(--dark);
    margin-right: 1em;
    height: 2.5em;
    width: 18em;
}

.forms {
    display:block;
    width: fit-content;
    margin: 2em 0;
    margin-left: auto;
    margin-right: auto
    
}

@media all and (max-width:425px){
    .forms input{
        display:block !important; 
    }
    .forms input:first-child {
        margin: 0 !important;
    }
        .forms input:last-child {
            margin-top:1em !important;
        }
}

.selected{
    background-color: var(--primary) !important;
}

/*##########################################################################################################*/
/*########################################## VICTOR #######################################################*/
.virtual-card {
    position: relative;
    width: 15em;
    height: 20em;
    color: aliceblue;
    left: 50%;
    transform: translateX(-50%);
    user-select:none;
}
    .virtual-card:hover{
        cursor:pointer;
    }

    .virtual-card > img {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

        .virtual-card > img:first-of-type {
            object-fit: cover;
        }

        .virtual-card > img:last-of-type {
            top: 0%;
            left: 0%;
            position: absolute;
        }

    .virtual-card > h3 {
        background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.8), rgba(94, 94, 94, 0));
        text-align: center;
        width: 100%;
        top: 5%;
        position: absolute;
    }

    .virtual-card > div {
        bottom: 10%;
        position: absolute;
        width: 100%;
        font-weight: bold;
        background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.8), rgba(94, 94, 94, 0));
        display: grid;
        letter-spacing: .2em;
        grid-template-columns: 70% 30%;
        justify-items: center;
        align-items: center;
    }

    .virtual-card > table {
        bottom: 10%;
        position: absolute;
        width: 100%;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(90deg,rgba(94, 94, 94, 0), rgba(41, 41, 41, 0.8), rgba(94, 94, 94, 0));
    }

    .virtual-card table tr > td:first-of-type {
        width: 50%;
    }


/*####################################################################################*/


 /*#################################BUTTONS###################################*/
.action-button, .acept-button, .cancel-button {
    border-radius: 0.5em;
    padding: .5em 1em;
    outline: none;
    border: none;
    text-decoration: none;
    color: var(--light);
    margin: auto;
    text-align: center;
    background-color: var(--dark);
}

.action-button {
    border: 3px solid var(--primary);
}
.acept-button {
    border: 3px solid var(--green);
}
.cancel-button {
    border: 3px solid var(--red);
}

.action-button:hover {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--light);
}
.acept-button:hover {
    background-color: var(--green);
    text-decoration: none;
    color: var(--light);
}
.cancel-button:hover {
    background-color: var(--red);
    text-decoration: none;
    color: var(--light);
}
/*##################################################################################*/


/*############################### Javier #################################################*/
.list{
    margin-right:0 !important;
}

.listTop{
    padding-right:0 !important;
}

.ListUsers {
    display: grid;
    grid-template-columns: 10% 50% 23% 15%;
    align-items: center;
    margin-top: 1em;
    border: 2.5px solid;
    padding: .5em;
}

.ListUsers>h3{
    margin:0;
    margin-left:1em;
}

.ListUsers>img{
    display:block;
    margin:auto;
    width:4em;
    max-width:4em;
    height:auto;
    border-radius:50%;
    border:1px solid;
}

.ListUsers>h3>span>img, .userInfoCards>span>img{
    width:1.5em;
    margin-bottom:.3em;
    margin-left:.3em;
}



.userInfoTokens > span > img {
    width: 1em;
    margin-bottom: .3em;
    margin-left: .3em;
}
.userInfoTokens>span{
    padding: .5em;
    background-color:var(--light-dark);
    color:var(--light);
    border-radius:6px;
}

.centerDiv{
    display:grid;
    justify-content:center;
}

.userInfoContainer{
    width:auto !important;
}


@media all and (max-width:500px){
    .ListUsers, .ListTrade{
        display:grid;
        grid-template-columns:none !important;
    }



        .ListUsers > h3, .ListTrade>h3 {
            text-align: center !important;
            margin: 0 !important;
        }


}

@media all and (min-width:501px) and (max-width:767px){
    .ListUsers {
        display: grid !important;
        grid-template-columns: 10% 40% 30% 15% !important;
    }
}

@media all and (min-width: 768px){
    .listTop{
        width: auto !important;
    }
}

.userInfo {
    display: grid;
    background-color: var(--light-dark);
    padding:1em;
    grid-template-columns: 220px 40% 30.5%;
}

    .userInfo > img {
        width: 15em;
        height:15em;
        border-radius: 50%;
        object-fit: cover;
        background: var(--primary);
    }

.userInfo>div:not(.userInfo>div:first-child){
    margin-top:1em;
}



.nameDesc>p{
    margin-top:1em;
}

.userInfo > div > h3 {
    margin: 0;
}

.gridUserInfo{
    display:block;
}

.bot-userInfo {
    width: 8em;
    height: 2.5em;
    border-radius: 0.5em;
    padding: 0.4em;
    outline: none;
    border: none;
    text-decoration: none;
    color: var(--light);
    text-align: center;
    background-color: var(--dark);
    border: 3px solid var(--primary);
}

.bot-userInfo:hover {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--light);
}
.rojo-pal-javi {
    border: 3px solid var(--red);
}
.rojo-pal-javi:hover {
    background-color: var(--red);
}

.bot-userInfo > a {
    text-decoration: none;
    color: var(--light);
}

.nameDesc > div, .gridUserInfo > div {
    display: grid;
    align-items: end;
}

.nameDesc>div, .gridUserInfo>div{
    display:grid;
    align-items:end;
}

@media all and (max-width:660px){
    .userInfo{
        grid-template-columns:none;
    }

    .nameDesc>div, .gridUserInfo>div{
        display:grid;
        justify-content:center;
    }

    .nameDesc > h3 {
        text-align: center;
    }

    .userInfo>img{
        margin:auto;
    }

    .userInfo > div:not(.userInfo>div:first-child) {
        display:grid;
        justify-content:center;
        border-top:1px solid;
        padding-top:1em;
    }
}

@media all and (min-width:661px){
    .nameDesc {
        display: grid;
        grid-template-rows: 15% 60% 25%;
    }

    .gridUserInfo {
        display: grid;
        grid-template-rows: 20% 20% 20% 40%;
    }

    .userInfoContainer {
        width: auto !important;
    }
}

.imgForm{
    border-radius:50%;
    border:1px solid;

}

.formDiv>textarea{
    width:100%;
}

.imgDiv{
    display:flex;
    justify-content:center;
}

.buttonsDiv{
    display:flex;
    justify-content:center;
}

.labelDiv{
    width:auto !important;
    text-align:left !important;
    margin-bottom: .5em !important;
}

.formDivHor{
    display:grid;
    justify-content:center;
}

.notVisible{
    display:none !important;
}

.marginLeftElem {
    margin-left: 0.5em;
}

.marginRightElem {
    margin-right: 0.5em;
}

.foto-footer{
    display:flex;
    justify-content:center;
}

.margin-a{
    margin:1em;
}

#photo-usu {
    margin: auto;
    margin-bottom: 1em;
    height:12em;
    width:12em;
    object-fit: cover;

}

#foto-reg{
    display:grid;
    justify-content:center;
}

.widthForm{
    width: 350px;
}

.inputsEdit>input, .inputsEdit>textarea{
    max-width:none !important;
}

.imgDivForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
}
    }



    /*##################################### DETALLES #############################################*/

/*
        --font: Roboto, 'Arial Narrow', Arial, sans-serif;
    --primary: #3454D1;
    --dark: #212529;
    --light-dark: #505050;
    --light: #FFF;
    --red: #F02D3A;
    --green: 14CC60;

    */
.attack {
    background: var(--light-dark);
    margin: 0.5em 0;
    border: 2px solid var(--light);
}

.container p, .container h3, .container h4, .container label{
    color: var(--light);
}

.superior {
    padding: 2em 0;
    background: var(--light-dark);
}

.divTrade{
    
}

.ListTrade {
    display: grid;
    grid-template-columns: 15% 21% 8% 21% 15% 20%;
    align-items: center;
    margin-top: 1em;
    border: 2.5px solid;
    padding: .5em;
    padding-top:1em;
    padding-bottom:1em;
}

    .ListTrade > h3 {
        margin: 0;
        margin-left: 1em;
    }

    .ListTrade > img {
        display: block;
        margin: auto;
        width: 4em;
        max-width: 4em;
        height: auto;
        border-radius: 50%;
        border: 1px solid;
    }

    .ListTrade > h3 > span > img, .userInfoCards > span > img {
        width: 1.5em;
        margin-bottom: .3em;
        margin-left: .3em;
    }

.divTrade>a>div{
    width: 7.5em !important;
    height: 10em !important;
}

.divTrade > div {
    width: 7.5em !important;
    height: 10em !important;
}

.divTrade > div > h3 {
    font-size: 1em !important;
    top: -5% !important;
}

    .divTrade > a > div > h3 {
        font-size: 1em !important;
        top: -5% !important;
    }

.divTrade td, .divTrade th{
    font-size: .5em !important;
}

.noBorder{
    border: none !important;
}