@using VirtualDeckWeb.Models;
@using VirtualDeckGenNHibernate.EN.VirtualDeck;
@model  Tuple<IEnumerable<CommentViewModel>, CommentViewModel>

@{
    bool userIsLogged = (Session["User"] as VirtualUserEN) != null;
    bool numComent = false;
}

<h3>Comentarios</h3>
<hr />
@{
    if (userIsLogged)
    {
        using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { @class = "container" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <textarea name="Text" rows="1" cols="100" class="textComment"></textarea>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <input type="hidden" name="ProductId" value="@Model.Item2.ProductId" />
                <input type="submit" value="Publicar comentario" class="acept-button" />
            </div>
        }
    }
}

@foreach (var item in Model.Item1)
{
     numComent = true;
    <div class="col-xs-12 col-md-12 col-lg-12 product-comment">
        <h4>@Html.DisplayFor(modelItem => item.UserName)</h4>
        <p>@Html.DisplayFor(modelItem => item.Text)</p>
    </div>
}

@if (!numComent)
{
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h4>No hay ningún comentario</h4>
    </div>
}

