@model IEnumerable<VirtualDeckWeb.Models.AttackMoveViewModel>

<h3>Ataques</h3>
<hr />
@foreach (var item in Model)
{
    string png = item.Type + ".png";
    string type = item.Type.ToString();
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 attack @type">
    <img src="~/Resources/IconTypes/@png">
    <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
    <p>@Html.DisplayFor(modelItem => item.Type)</p>
    <p>@Html.DisplayFor(modelItem => item.Description)</p>
</div>
}