@model IEnumerable<VirtualDeckWeb.Models.AttackMoveViewModel>

<h3 class="centrarH2"><strong>Ataques</strong></h3>
<hr class="marginHR">
<div class="containerAttacks">
    @foreach (var item in Model)
    {
        string png = item.Type + ".png";
        string type = item.Type.ToString();
    <div class="attack @type">
        <img src="~/Resources/IconTypes/@png">
        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
        @*<p>@Html.DisplayFor(modelItem => item.Type)</p>*@
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
    </div>
    }
</div>
