@model IEnumerable<VirtualDeckWeb.Models.UserCardViewModel>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="profile-container">
                    <!--HAY QUE PONER UN LINK AL DETALLE DE LA CARTA-->
                    @Html.Partial("CardPartial", item)
                </div>
            </div>
        }
    </div>
</div>

