@model IEnumerable<VirtualDeckWeb.Models.UserPackViewModel>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="profile-container">
                    <div class="fondo">
                        <!--HAY QUE HACER QUE AL PULSARLE TE ENVIE AL DETALLE-->
                        @Html.Partial("PackPartial", item)
                    </div>
                </div>
            </div>
        }
    </div>
</div>