@model VirtualDeckWeb.Models.PackViewModel

<div class="virtual-card">
    <img src="~/Resources/PackRarities/@Html.DisplayFor(modelItem => Model.Img) " alt="@Html.DisplayFor(modelItem => Model.Img)">
    <h3>@Html.DisplayFor(modelItem => Model.Name)</h3>
</div>

