@model VirtualDeckWeb.Models.UserPackViewModel

<div class="fondo">
    <div class="info">
        <img src="~/Resources/PackRarities/@Html.DisplayFor(modelItem => Model.Img) " alt="@Html.DisplayFor(modelItem => Model.Img)">
        <h3>@Model.Id</h3>
    </div>
</div>
