@model VirtualDeckWeb.Models.UserPackViewModel

<div class="virtual-card pack-detail">
    <img src="~/Resources/PackRarities/@Html.DisplayFor(modelItem => Model.Img) " alt="@Html.DisplayFor(modelItem => Model.Img)">
    <h3>@Model.Name</h3>
</div>

