@{
    ViewBag.Title = "Home Page";
}

<body>

    <section>
        <h2> Novedades </h2>
        <h4> Aquí se pondrían las cartas de las novedades </h4>
    </section>

    <section>
        <h2> Recomendaciones </h2>
        <h4> Aquí se pondrían las cartas de las recomendaciones </h4>
    </section>

</body>