@model IEnumerable<VirtualDeckWeb.Models.VirtualUserViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <form class="formUsers" asp-controller="" asp-action="">
            <input type="text" placeholder="Buscar" name="search" />
            <input class="bot-userInfo" type="submit" value="BUSCAR" />
        </form>
    </div>
</div>

<div class="container listTop">
    <div class="row list">
        @foreach (var item in Model)
        {
            <div class="ListUsers">
                <img src="~/Resources/@Html.DisplayFor(modelItem => item.Img)" />
                <h3>@Html.DisplayFor(modelItem => item.UserName)</h3>
                <h3>@Html.DisplayFor(modelItem => item.NumCards)<span><img src="~/Resources/cardIcon.png" /></span></h3>
                <div class="centerDiv">
                    @Html.ActionLink("VER PERFIL", "Details", new { id = item.Id }, new { @class = "bot-userInfo" })
                </div>


            </div>
        }
    </div>
</div>



