@model IEnumerable<VirtualDeckWeb.Models.CardViewModel>

@{
    ViewBag.Title = "Cards";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        @Html.ActionLink("Cartas", "Cards")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Sobres", "Packs")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Tokens", "TokenPacks")
    </li>
</ul>

<h2>Cartas</h2>
<div class="container">
    @Html.Partial("CardListPartial", Model)
</div>
