@model IEnumerable<VirtualDeckWeb.Models.CardViewModel>

@{
    ViewBag.Title = "Cards";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        @Html.ActionLink("Cartas", "Cards")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Sobres", "Packs")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Tokens", "TokenPacks")
    </li>
</ul>


<form asp-controller="ShopController" asp-action="Cards">
    <input type="text" name="search" placeholder="Introduce el nombre o descripción de la carta" />
    <button type="submit">Buscar</button>
</form>

<h2>Cartas</h2>

@Html.Partial("CardListShopPartial", Model)


