@model IEnumerable<VirtualDeckWeb.Models.CardViewModel>

@{
    ViewBag.Title = "Cards";
}
<div class="tabs">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            @Html.ActionLink("Cartas", "Cards", null, new { @class = "selected" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Sobres", "Packs")
        </li>
        @{
            if (Session["User"] != null)
            {
                <li class="nav-item">
                    @Html.ActionLink("Tokens", "TokenPacks")
                </li>
            }
        }
    </ul>
</div>


        <form class="forms" asp-controller="ShopController" asp-action="Cards">
            <input type="text" name="search" placeholder="Introduce un nombre o descripción"/>
            <input class="bot-userInfo action-button" type="submit" value="Buscar" />
        </form>



@Html.Partial("CardListShopPartial", Model)


