@model IEnumerable<VirtualDeckWeb.Models.PackViewModel>

@{
    ViewBag.Title = "Packs";
}


<ul class="nav justify-content-center">
    <li class="nav-item">
        @Html.ActionLink("Cartas", "Cards")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Sobres", "Packs")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Tokens", "TokenPacks")
    </li>
</ul>

<h2>Sobres</h2>

<form asp-controller="ShopController" asp-action="Packs">
    <input type="text" name="search" placeholder="Introduce el nombre o descripción del pack" />
    <button type="submit">Buscar</button>
</form>
<div class="container">
    @Html.Partial("PackListPartial", Model)
</div>
