@using VirtualDeckGenNHibernate.EN.VirtualDeck;
@{
    ViewBag.Title = "SelectToTrade";
}


@{
    IEnumerable<VirtualDeckWeb.Models.UserCardViewModel> UserCards = ViewData["usercards"] as IEnumerable<VirtualDeckWeb.Models.UserCardViewModel>;
}

<h3>Selecciona la carta que quieras intercambiar</h3>

@Html.Partial("UserCardListPartial", UserCards)
